/* source-sans-pro-regular - latin_cyrillic */
@font-face 
  font-family: 'Source Sans Pro'
  font-style: normal
  font-weight: 400
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v13-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/source-sans-pro-v13-latin_cyrillic-regular.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

/* roboto-500 - latin_cyrillic */
@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

/* roboto-700 - latin_cyrillic */
@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

transition_on-hover = all 0.4s ease
font_1 = 'Source Sans Pro'
font_2 = 'Roboto'
color_first = #F2264D
color_second = #333333
color_third = #666666
color_fourth = #D7153C
color_fifth = #FAFAFA 

html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit 

body
  font-family: font_1
  font-style: normal
  font-size: 14px
  font-weight: normal
  color: color_second
  overflow-x: hidden

img
  max-width: 100%
  height: auto

a
  text-decoration: none

.wrapper
  max-width: 1920px
  margin: auto

//---------------------- Header

.header
  width: 100%
  display: flex
  align-items: center 
  padding: 35px 0 33px 0

.header__logo
  width: 370px
  flex-shrink: 1.5
  text-align: right

.header__nav 
  width: 1180px
  padding-left: 2.8vw//4.2vmin //2.8vw //55px
  display: flex

.header__item
  padding-left: 1.3vw //2vmin //1.3vw //25px

.header__link
  color: color_second
  position: relative
  &:hover
    transition: transition_on-hover
    color: color_first
  &:active
    color: color_fourth

.header__item
  .header__link
    &:active
      &::after                 // Красная линия снизу от ссылок в навигации при нажатии
        content: ''
        width: 100%
        height: 5px
        position: absolute
        left: 0%
        bottom: -250%
        background-color color_first
        z-index: 1
  
.header__logout
  position: relative
  margin-right: -6px
  .header__logout-link
    pointer-events: none /* This helps IE */
  &:hover
    .logout-link__svg--fil0
      transition: transition_on-hover
      -ms-transition: transition_on-hover
      fill-opacity: 0.5
      fill: #EEEEEE
    .logout-link__svg--fil1
      transition: transition_on-hover
      -ms-transition: transition_on-hover
      fill: color_first
    .header__logout-hint
      visibility: visible
      opacity: 1
      transition: transition_on-hover
      -ms-transition: transition_on-hover
  &:active
    .logout-link__svg--fil0
      fill: color_first
    .logout-link__svg--fil1
      fill: #FFFFFF

.header__site-navigation  
  display: flex
  align-items: center 

.header__user-navigation
  display: flex
  align-items: center 
  margin-left: auto
  position: relative

.header__avatar-image
  border-radius: 50%

.header__user-avatar
  padding-right: 10px
  
.header__user-name
  padding-right: 22px
  &::after                 // Вертикальная линия справа от пользователя
    content: ''
    width: 1px
    height: 30px
    position: absolute
    top: 3px
    right: 32px
    background: #E4E4E4

.header__logout-hint
  visibility: hidden
  opacity:0
  width: 160px
  height: 45px
  position: absolute
  top: 60px
  left: -65px
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9))
  border-radius: 2px
  text-align: center
  line-height: 42px
  color: #FFFFFF
  z-index: 1
  &::before                 // Декор-элемент треугольник на всплывающей подсказке
    content: ''
    position: absolute
    bottom: 100%
    left: 45%
    border: 8px solid transparent; /* Прозрачные границы */
    border-bottom: 13px solid rgba(51, 51, 51, 0.9); /* Добавляем треугольник */

.header__right
  width: 370px
  flex-shrink: 3

//---------------------- Title section

.title
  width: 100%
  display: flex
  justify-content: center
  border-top: 1px solid #EFEFEF

.title__wrapper
  width: 1180px
  display: flex
  justify-content: center

.title__welcome
  width: 33.8983% //400px
  position: relative
  &::before                 // Один первый слева декор-квадрат с точками
    content: ''
    position: absolute
    left: 0%
    top: 76%
    width: 25% //100px
    height: 23.8095% //100px
    background-image: url('../img/title__decor-dots.png')
  &::after                 // Два декор-квадрата с точками перед красным
    content: ''
    position: absolute
    left: 54.5%
    top: 76%
    width: 50% //200px
    height: 23.8095% //100px
    background-image: url('../img/title__decor-dots.png')

.title__caption
  white-space: nowrap
  font-family: font_2
  font-size: 58px //4.7vmin
  // letter-spacing: -1.1px
  line-height: 62px //4.9vmin
  font-weight: 700
  position: absolute
  top: 19%
  z-index: 1  
  position: relative
  &::before                 // Декор полоска красная слева от caption
    content: ''
    width: 120px
    height: 1px
    position: absolute
    top: 28%
    left: -43%
    background: color_first

.title-descriptor
  width: 350px
  height: 70px
  font-size: 16px //1.2966vmin
  line-height: 22px //1.7387vmin
  // letter-spacing: -0.3px
  color: color_second
  position: absolute
  top: 51.7%
  z-index: 1

.title__decor
  width: 8.4748% //100px
  height: 100% //420px
  background: color_fifth
  position: relative
  &::before                 // Декор-квадрат красный снизу секции title
    content: ''
    width: 100%//100px
    height: 23.8095%//100px
    position: absolute
    top: 76.2%
    background: color_first

.title__image
  position: relative
  &::before                 // Декор-квадрат с точками справа картинки
    content: ''
    position: absolute
    left: 97.5%
    top: 28%
    width: 14.7059% //100px
    height: 71.4286% //300px
    background-image: url('../img/title__decor-dots.png')
    z-index: -1

//---------------------- News section

.news
  width: 100% //1180px
  margin-top: 85px
  display: flex
  justify-content: center

.news__wrapper
  width: 1180px
  display: flex
  justify-content: center
  flex-direction: column

.news__title-wrapper
  display: flex
  align-items: center
  justify-content: space-between
  padding-bottom: 20px

.news__items-wrapper
  display: flex
  justify-content: space-between
  position: relative
  &::before                 // Декор-квадрат с точками справа картинки
    content: ''
    position: absolute
    bottom: 43.1% //44.55%
    right: -6.95%
    width: 8.4746% //100px
    height: 27.027% //100px
    background-image: url('../img/title__decor-dots.png')
    z-index: -1

.novel
  width: 32.2034% //380px
  .novel__link-wrapper
    pointer-events: none /* This helps IE */
  &:hover
    .novel__caption
      color: color_first
    .novel__image
      &::before
       background-color: rgba(247, 35, 75, 0.5) 
  &:active
    .novel__caption
      color: color_fourth
    .novel__image
      &::before
       background-color: rgba(247, 35, 75, 0.7)

.news__title
  font-family: font_2
  font-weight: 700
  font-size: 30px
  line-height: 66px

.news__link-all
  font-family: font_1
  font-size: 16px
  vertical-align: middle
  line-height: 30px
  color: color_third
  position: relative
  padding-top: 20px
  padding-right: 30px
  position: relative
  transition: transition_on-hover
  &:hover
    color: color_first
    .news__svg-arrow
      path
        fill: color_first
  &:active
    color: color_fourth
    .news__svg-arrow
      path
        fill: color_fourth

.news__svg-arrow
  position: absolute
  right: 0%
  bottom: 12%

.novel__image
  position: relative
  &::before                 // Маска при наведении/нажатии на картинке с новостью
    content: ''
    width: 100%
    height: 100% 
    position: absolute
    transition: transition_on-hover

.novel__options
  padding: 0 20px 0 20px

.novel__caption
  padding: 18px 0 15px 0 
  font-family: font_2
  font-size: 20px  
  line-height: 26px
  color: color_second

.novel__description
  line-height: 20px
  padding-right: 40px
  color: color_third

.novel__date
  padding-top: 17px
  line-height: 18px
  color: #ABABAB

//---------------------- Feedback

.feedback
  width: 100%
  margin-top: 119px
  background-color: color_fifth
  display: flex
  justify-content: center

.feedback__wrapper
  width: 1180px //61.4583%
  display: flex
  justify-content: center
  position: relative
  &::before                 // Для декора заливка слева красным от блока feedback
    content: ''
    width: 370px
    height: 500px
    position: absolute
    background-color: color_first
    left: -370px //-40%
  &::after                 // Декор-квадраты с точками снизу справа формы feedback
    content: ''
    position: absolute
    width: 300px
    height: 100px
    bottom: 0%
    right: -25%
    background-image: url('../img/title__decor-dots.png')

.feedback__description
  width: 32.2% //380px
  height: 500px
  padding-top: 40px
  background: color_first url('../img/feedback__question.svg') no-repeat 130% 100%
  background-color: color_first
  position: relative
  &::before                 // Декор-квадрат с точками сверху слева формы feedback
    content: ''
    position: absolute
    bottom: 100%
    left: -235px //-36.5%
    width: 26.3158% //100px
    height: 100px
    background-image: url('../img/title__decor-dots.png')
  &::after                 // Декор-квадрат с точками снизу слева формы feedback
    content: ''
    position: absolute
    top: 100%
    left: -370px //-92.5%
    width: 26.3158% //100px
    height: 100px
    background-image: url('../img/title__decor-dots.png')

.feedback__title
  font-family: font_2
  font-weight: 900
  font-size: 30px
  line-height: 66px
  color: #FFFFFF

.feedback__about-form
  font-size: 16px
  line-height: 22px
  color: #FFFFFF

.feedback__form
  width: 67.8%
  height: 500px
  background-color color_fifth
  padding-top: 57px
  padding-left: 5.5vmin//5.32vmin //3.646vw //70px

.form__holder
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.form__item
  width: 31.6438%
  display: flex
  flex-direction: column
  position: relative

.form__label
  padding-left: 20px
  padding-bottom: 10px
  color: color_third

.form__input
  height: 45px
  background: color_fifth
  padding-left: 20px
  border: 1px solid rgba(201, 200, 204, 0.2)
  &:hover
    border: 1px solid color_third
    background: #ffffff
    color: color_second

.form__name-warning,
.form__email-warning
.form__textarea-warning
  display: none
  position: absolute
  bottom: -17px
  color: color_first
  font-family: font_1
  font-size: 14px

.form__name-warning
  left: 20px

.form__email-warning
  left: 20px

.form__textarea-warning
  left: 40%

.form__warning--invalid
  display: block

.form__text-appeal
  width: 100%
  display: flex
  flex-direction: column
  margin-top: 31px
  margin-bottom: 40px
  position: relative

.text-appeal__title
  padding-left: 20px
  padding-bottom: 10px
  color: color_third

.text-appeal__text
  height: 150px
  border: 1px solid #C9C8CC
  background: color_fifth
  resize: none
  &:hover,
  &:focus
    background: #FFFFFF
    border: 1px solid color_third

.form__btn-submit
  width: 220px
  height: 46px
  background-color color_first
  font-size: 14px
  line-height: 20px
  color: #FFFFFF
  border: none
  &:hover
    transition: transition_on-hover
    background: #E71E44
    box-shadow: 0px 5px 10px rgba(242, 38, 77, 0.25)
  &:active
    background: color_fourth
    box-shadow: 0px 5px 10px rgba(242, 38, 77, 0)

//---------------------- Modal window

.feedback__modal-window
  display: none
  justify-content: center
  align-items: center
  position: fixed
  z-index: 10
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)

.modal-window__wrapper
  position: relative

.modal-window__content
  width: 580px
  height: 300px
  padding: 45px 49px
  display: flex
  flex-direction: column
  background: #FFFFFF
  border-radius: 1px

.modal-window__img
  margin-bottom: 56px

.modal-window__title
  margin-bottom: 16px

.modal-window__title
  font-family: font_2
  font-weight: 900
  font-size: 30px
  color: color_second

.modal-window__text
  font-family: font_1
  font-size: 16px
  color: color_third

.modal-window__closed
  width: 22px
  height: 22px
  position: absolute
  left: 103%
  top: 5%
  cursor: pointer
  background: url("../img/feedback__modal-window--closed.png")

//---------------------- Birthdays

.birthdays
  width: 100%
  margin-top: 50px
  display: flex
  justify-content: center

.birthdays__wrapper
  width: 1180px
  padding-top: 60px
  display: flex
  flex-direction: column
  border-top: 1px solid #E4E4E4

.birthdays__title
  font-family: font_2
  font-weight: 900
  font-size: 30px
  line-height: 40px
  color: color_second
  position: relative
  &::after                 // Декор-элемент изображения феерверков(кулька с ленточками)
    content: ''
    position: absolute
    width: 40px
    height: 40px
    left: 390px
    background-image: url('../img/birthdays__fireworks.png')

.birthdays__reminder
  font-family: font_1
  font-size: 16px
  line-height: 22px
  color: color_third

.birthdays__staff
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  margin-left: -20px
  .person
    width: 23%

.person
  width: 280px
  display: flex
  flex-direction: column
  padding-left: 30px
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF)
  border: 1px solid #E4E4E4
  padding-top: 30px
  padding-bottom: 25px
  margin-left: 20px
  margin-bottom: 20px
  position: relative
  word-wrap: break-word
  .person__avatar,
  .person__about
    width: 220px
    pointer-events: none /* This helps IE */
  &:hover
    border-color: color_first
    box-shadow: 0px 10px 20px rgba(5, 2, 13, 0.1)
    transition: transition_on-hover
    cursor: pointer
    &::before
      content: ''
      position: absolute
      top: 29px
      right: 30px
      width: 23px
      height: 16px
      background-image: url('../img/birthdays__arrow-right.svg')
  &:active
    border-color: color_first
    box-shadow: 0px 10px 20px rgba(5, 2, 13, 0)

.person__about,
.person__avatar
  width: 220px

.person__about
  height: 100%

.person__avatar-image
  width: 80px
  border-radius: 50%

.person__name
  width: 180px
  font-family: font_2
  font-weight: 500
  font-size: 16px
  line-height: 22px
  color: color_second
  margin-top: 20px
  margin-bottom: 4px

.person__position
  font-family: font_1
  font-size: 14px
  line-height: 20px
  color: #ABABAB
  margin-bottom: 12px

.person__department
  font-family: font_1
  font-size: 14px
  line-height: 20px
  color: color_third
  margin-bottom: 22px

.person__date
  padding-left: 22px
  font-family: font_2
  font-weight: 500
  font-size: 14px
  line-height: 20px
  color: color_second
  position: relative
  &::before                 // Декор-элемент коробки с подарками перед датой дня рождения
    content: ''
    position: absolute
    width: 16px
    height: 17px
    left: 0%
    background-image: url('../img/birthdays__gift.png')

//---------------------- Footer

.footer
  width: 100%
  margin-top: 40px
  display: flex
  justify-content: center
  border-top: 1px solid #EFEFEF

.footer__wrapper
  width: 1180px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 34px 0 40px 0

.footer__copyright
  width: 25% //270px
  font-family: font_1
  font-size: 14px
  line-height: 20px
  color: #ABABAB

.footer__logotypes
  width: 75% //910px
  display: flex
  justify-content: flex-end

.footer__logotypes-item
  padding-left: 58px
  filter: grayscale(100%)
  opacity: 0.5
  &:hover
    filter: grayscale(0%)
    opacity: 1
    transition: transition_on-hover
    -ms-transition: transition_on-hover
  &:active
    opacity: 0.5